.main__clients_about_me {
    padding: 20px 10px 20px 10px;
}

.client_item img {
    max-width: 300px;
}

.button_carousel img {
    width: 20px;
}

.clients__title {
    display: flex;
    flex-direction: row;
}

.main__clients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.client_item {
    padding: 5px;
}

.clients-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}